* {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

@page default {
  size: A4 landscape;
  margin: 0.25in 0in 0in 0.25in;
}

@page professionalPrint {
  margin: 0;
  size: 3.875in 2.875in;
}
