@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Consta';
        font-weight: normal;
        src: url('./fonts/constan.ttf');
    }

    @font-face {
        font-family: 'Consta';
        font-weight: bold;
        src: url('./fonts/constanb.ttf');
    }

    @font-face {
        font-family: 'Consta';
        font-weight: normal;
        font-style: italic;
        src: url('./fonts/constani.ttf');
    }
    @font-face {
        font-family: 'Consta';
        font-weight: bold;
        font-style: italic;
        src: url('./fonts/constanz.ttf');
    }
}
