@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Consta';
        font-weight: normal;
        src: url('./fonts/constan.ttf');
    }

    @font-face {
        font-family: 'Consta';
        font-weight: bold;
        src: url('./fonts/constanb.ttf');
    }

    @font-face {
        font-family: 'Consta';
        font-weight: normal;
        font-style: italic;
        src: url('./fonts/constani.ttf');
    }
    @font-face {
        font-family: 'Consta';
        font-weight: bold;
        font-style: italic;
        src: url('./fonts/constanz.ttf');
    }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 100vh;
    border: 3px solid rgb(229, 231, 230);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}

.markdown > * {
  all: revert;
}
